{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateurController!
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.js"></script>
{% endblock %}

{% block body %}
	{% include "menu/header.html.twig" %}
	<div class="full_bg">
		<style>
			.example-wrapper {
				margin: 1em auto;
				max-width: 800px;
				width: 95%;
				font: 18px / 1.5 sans-serif;
			}

			.section-info {
				margin-top: 60px;
			}
			.example-wrapper code {
				background: #F5F5F5;
				padding: 2px 6px;
			}
		</style>

		<div class="search-wrap">
			<div class="overlay">
				<form action="#" class="search-form">
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-9">
								<input type="text" class="form-control" placeholder="Search..."/>
							</div>
							<div class="col-md-2 col-3 text-right">
								<div class="search_toggle toggle-wrap d-inline-block">
									<i class="ti-close"></i>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!--search overlay end-->

		<section class="single-block-wrapper section-padding section-info">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
						<div class="single-post">
							<div class="post-header mb-5 text-center">
								<div class="meta-cat">
									<a class="post-category font-extra text-color text-uppercase font-sm letter-spacing-1" href="#">Dons pour tous</a>
								</div>
								<h2 class="post-title mt-2">
									Vos informations
								</h2>


							</div>
							<div class="post-body text-center">
								<div class="entry-content">
									<p>Nom :
										<span class="data">
											<b>{{ utilisateur.nom }}</b>
										</span>
									</p>
									<p>Prénom :
										<span class="data">
											<b>{{ utilisateur.prenom }}</b>
										</span>
									</p>
									<p>Email :
										<span class="data">
											<b>{{ utilisateur.email }}</b>
										</span>
									</p>
									<p>Téléphone :
										<span class="data">
											<b>{{ utilisateur.telephone }}</b>
										</span>
									</p><br>
									<a href="{{ path('app_edit_profil') }}">
										<button type="button" class="btn btn-danger" style="border-radius: 5px;">
											Modifier Profil</button>
									</a>
									<span>
										<a href="{{ path('app_edit_password') }}">
											<button type="button" class="btn btn-danger" style="border-radius: 5px;">
												Modifier Mot de passe</button>
										</a>
									</span>
								</div>


							</div>
						</div>


					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<div class="sidebar sidebar-right">
							<div class="sidebar-wrap mt-5 mt-lg-0">
								<div class="sidebar-widget about mb-5 text-center p-3">
									<div class="about-author">
										<img src="images/author.jpg" alt="" class="img-fluid">
									</div>
									<h4 class="mb-0 mt-4">{{ utilisateur.prenom }}
										{{ utilisateur.nom }}</h4>
									<p>Donneur
										<i class="fa fa-heart"></i>
									</p>
									<p style="text-align:justify;">Votre don de sang a apporté un réel espoir et une nouvelle chance de vie à ceux qui en avaient désespérément besoin. Votre altruisme et votre compassion envers des inconnus comme moi sont véritablement inspirants. Grâce à vous, des vies ont été sauvées et des familles ont retrouvé le sourire.
									</p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
