{% extends 'base.html.twig' %}

{% block title %}Hello CampagneController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		.slid {
			background-image: url('chemin/vers/mon-image.jpg');
			height: 20rem;
			width: 100%;
			background-color: whitered;
			position: sticky;
		}
		.content-slid {
			margin-top: 10%;
			z-index: 1;
			text-align: center;
			border: 1px;
			width: 50%;
			margin-left: 25%;
		}
		.card {
			width: 50%;
			margin-left: 50%;
			justify-content: center;
			align-items: center;
			margin-top: 50px;
			border-radius: 5px;
		}
		.content-camp {
			justify-content: center;
			align-items: center;
			margin-right: 30rem;
			text-align: center;
		}
	</style>

	{% include "menu/header.html.twig" %}

	<div class="slid">
		<div class="content-slid border">
			<b>LES CAMPAGNES A VENIR</b>
			<p style="margin-top: 10px;">
				<a href="" class="btn btn-danger" style="border-radius: 5px;">Ajouter une Campagne</a>


			</p>
		</div>
	</div>
	<div class="content-camp text-center">
		{% for item in resultCampagne %}
			<div class="card">
				<div class="card-body">
					<b>{{ item.intitule }}</b>
					{{ item.dateDebut|date('d/m/Y') }}
					{{ item.dateFin|date('d/m/Y') }}
					{{ item.adresse }}
					{{ item.description }}
					{{ item.hopital }}
				</div>
			</div>
		{% endfor %}
	</div>

	{% include "menu/footer.html.twig" %}
{% endblock %}
